<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @service.string %>
</p>

<p>
  <b>String:</b>
  <%= @service.string %>
</p>

<p>
  <b>String:</b>
  <%= @service.string %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
