<ul>
	<li><%= link_to "Home", 	:controller => "pages", :action => "home" %></li>
					<li><%= link_to "Events", :controller => "events", :action => "index" %></li>
				<li><%= link_to "About Till", :controller => "about_tills", :action => "index" %></li>
					<li><%= link_to "Services", :controller => "services", :action => "index" %></li>
	<li><%= link_to "Galleries", :controller => "galleries", :action => "index" %></li>
	
		<li><%= link_to "Blog", :controller => "blogs", :action => "index" %></li>

</ul>